body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}


.image-container {
    margin: 0 auto;
    width: 75%;
}

h2 {
    margin: 50px;
    color: white;
}

a {
    color: #990000;
    color: white;
}

